.custom-select {
    position: relative;
    width: 100%;
}
  
.custom-select-header, .custom-select-list {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    outline: 1px solid var(--light-font);
    border-radius: 5px;
    background-color: var(--light-bg);  
}
  
.custom-select-header {
    position: relative;
}
.custom-select-header:hover {
    cursor: pointer;
}
.custom-select-header i {
    position: absolute;
    color: var(--light-font);
    margin-top: 3px;
    right: 10px;
    transition: .2s ease-out;
}
  
.custom-select-list {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
    transform-origin: top;
    transition: .2s ease-out;
    transform: scaleY(0);
}
  
.custom-select-list label {
    padding: 10px;
    transition: .2s ease-out;
    cursor: pointer;
    margin: 0;
}
.custom-select-list label[data-selected] {
    background-color: var(--main) !important;
}
.custom-select-list label:nth-child(odd) {
    background-color: var(--dark-bg);
}
.custom-select-list label:hover{
    padding-left: 20px;
    transition: .2s ease-out;
}
  
.custom-select-radio-container {
    display: none;
}