main {
    margin-top: 100px !important;
}

.main-img {
    height: min(80vw, 500px);
    width: min(80vw, 500px);
    object-fit: contain;
    border-radius: 20px;
    margin-bottom: 10px;
}

.imgs-container {
    --max-photos-row: 4;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: min(80vw, 500px);
    flex-shrink: 0 0;
    margin-bottom: 15px;
}
.imgs-container img {
    width: min( calc( 80vw / var(--max-photos-row) - 10px ), calc( 500px / var(--max-photos-row) - 10px ) );
    height: min( calc( 80vw / var(--max-photos-row) - 10px ), calc( 500px / var(--max-photos-row) - 10px ) );
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
    transition: .2s;
}
.imgs-container img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s;
}

.display-category {
    color: var(--dark-font);
    font-weight: normal;
    font-size: 19px;
    margin-bottom: 15px;
}

.display-content {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
}

.display-title {
    font-size: 35px;
    font-weight: bold;
    margin-right: 20px;
}

.display-header {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 80vw;
}

.display-price {
    font-size: 30px;
    font-weight: bold;
    color: var(--dark-font);
    font-style: italic;
}

.display-desc {
    font-size: 20px;
    color: var(--dark-font);
    font-weight: normal;
}

.display-desc-container {
    width: calc(80vw - 18px * 2);
    background-color: var(--light-bg);
    padding: 18px;
    border-radius: 20px;
    margin-top: 20px;
}

.cart-btn {
    position: static;
    margin-left: auto;
    margin-top: 0;
    border-width: 7px;
}