input.big-btn {
    font-size: 20px !important;
    width: 60vw !important;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: min(400px, 60vw);
}