@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    --main-font: 'Inter', sans-serif;
    --mobile-width: 70vw;
    --gray: #17171D;

    --dark-bg: #0E0D11;
    --light-bg: #131217;
    --lighter-bg: #1f1d25;
    --main: #734CCE;
    --secondary: #FFC15E;
    /*--main: #9F2042;*/
    --dark-font: #69686E;
    --light-font: #83828a;
    --error: #e92731;
}

body {
    background-color: var(--dark-bg);
}

label {
    margin-right: auto;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}

label[data-highlight="yes"] {
    /*margin-right: auto;*/
    color: var(--light-font);
}
.clean-label {
    margin: 0;
}
input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    outline: 1px solid var(--light-font);
    border-radius: 5px;
    background-color: var(--light-bg);
}
input[type="text"]:focus,input[type="password"]:focus {
    outline: none;
    outline: 2px solid white;
}
input.showcase {
    border: none;
    outline: none;
    pointer-events: none;
    background-color: rgba(0,0,0,0);
}

.passwd-container {
    position: relative;
    width: 100%;
}
.passwd-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--light-bg);
    padding: 6px;
}
.passwd-container i:hover {
    cursor: pointer;
}

label.highlighted {
    color:  white;
}

.form-separator {
    margin: 20px 0 20px 0;
    border-color: var(--light-font);
}

.standard-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: min(70vw, 300px);
    margin-top: 20px;
    margin-bottom: 45px;
}
.standard-form-container table {
    font-size: 20px;
}
.standard-form-container table p {
    font-weight: bold;
}
.standard-form-container table td.label {
    width: 90px;
    padding-right: 10px;
    /*display: flex;
    justify-content: flex-end;*/
    text-align: right;
}
.standard-form-container input {
    text-align: left;
}
.standard-form-container form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.standard-form-container hr {
    width: 100%;
}

.admin, .admin i {
    color: var(--error);
}
.editProduct {
    margin-bottom: 20px;
    font-weight: bold;
}

/*======================================== ERRORS */
p.error, .error + ul, .error + ul li {
    color: var(--error);
    font-family: var(--secondary-font);
    font-size: 15px;
    font-style: italic;
    margin-left: auto;
    text-align: right;
}
/* .error + ul {
    text-align: left;
}
.error + ul li {
    text-align: left;
    margin-right: 20px;
} */
label.error {
    color: var(--error);
}
label.highlighted.error {
    color: var(--error);
}
input[type="text"].error, input[type="password"].error {
    outline-color: var(--error);
}
input[type="text"].error:focus, input[type="password"].error:focus {
    outline-color: var(--error);
}

.error-desc {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.error-desc + p {
    font-size: 16px;
    color: var(--dark-font);
}
/*================================================ */

hr {
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: white;
}

header h1 {
    font-weight: 900;
}

h1,h2,h3,h4,h5 {
    font-family: var(--main-font);
    text-align: center;
}

h5 {
    text-align: start;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}
h3.title {
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    transition: .2s;
}
h2 {
    font-weight: normal;
    font-size: 40px;
}

input[type='submit'] {
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 30px;
    margin-top: 20px;
}
input[type='submit']:hover {
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: calc(100% - 20px);
    height: 80px;
    background-color: var(--light-bg);
    border-radius: 0 0 20px 20px;
    padding-left: 20px;
    transition: .2s;
    z-index: 100;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
}

.off {
    color: var(--gray);
    pointer-events: none;
}
.small-btn.off {
    background-color: var(--gray) !important;
}

.sans {
    font-family: var(--secondary-font);
    font-weight: 600;
}

.cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 170;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
}

/* =================================== FROM ELEMENTS */

.custom-checkbox {
    --custom-checkbox-size: 17px;
    width: var(--custom-checkbox-size);
    height: var(--custom-checkbox-size);
    display: grid;
}
  
.custom-checkbox input, .custom-checkbox div {
    grid-column: 1;
    grid-row: 1;
    width: var(--custom-checkbox-size);
    height: var(--custom-checkbox-size);
}
  
.custom-checkbox input {
    opacity: 0;
    z-index: 10;
}
.custom-checkbox input:hover {
    cursor: pointer;
}
  
.custom-checkbox input:hover + div {
    outline: 1px solid #fff;
}
.custom-checkbox div {
    background-color: var(--lighter-bg);
    outline: 1px solid var(--light-font);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}
  
.custom-checkbox div i {
    opacity: 0;
    color: #fff;
    transition: .1s;
}
  
.custom-checkbox input:checked + div i {
    opacity: 1;
}

.custom-checkbox input:checked + div {
    outline-color: #fff;
}

label:has(.custom-checkbox input:checked) {
    color: #fff;
}

/* ---- */

.custom-radio {
    --custom-radio-size: 17px;
    width: var(--custom-radio-size);
    height: var(--custom-radio-size);
    display: grid;
}
  
.custom-radio input, .custom-radio div {
    grid-column: 1;
    grid-row: 1;
    width: var(--custom-radio-size);
    height: var(--custom-radio-size);
}
  
.custom-radio input {
    opacity: 0;
    z-index: 10;
}
.custom-radio input:hover {
    cursor: pointer;
}
  
.custom-radio input:hover + div {
    outline: 1px solid #fff;
}
.custom-radio div {
    background-color: #1f1d25;
    outline: 1px solid #69686E;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}
  
.custom-radio div::after {
    content: "";
    width: calc(var(--custom-radio-size) - var(--custom-radio-size) * 0.3);
    height: calc(var(--custom-radio-size) - var(--custom-radio-size) * 0.3);
    opacity: 0;
    background-color: #fff;
    border-radius: 9999px;
    transition: .1s;
}
  
.custom-radio input:checked + div::after {
    opacity: 1;
}

.custom-radio input:checked + div::after {
    outline-color: #fff;
}

label:has(.custom-radio input:checked) {
    color: #fff;
}

/* --- */

.input-file-container {
    height: 120px;
    width: 120px;
    outline: 1px solid var(--light-font);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-bg);
  }
  .input-file-container:hover {
    cursor: pointer;
  }
  .input-file-container label {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input-file-container input {
    display: none;
  }
  
  .input-file-container label p {
    padding: 0 10px 0 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: var(--light-font);
    transform: translateY(15px);
  }
  .input-file-container label i {
    font-size: 30px;
  }
  
  .add-photo-container {
    display: flex;
    align-items: center;
  }
  
  .add-photo-title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 18px;
  }


/* ================================================= */

.small h1 {
    font-size: 30px;
}
header.small {
    height: 60px;
}
.hamburger-container.small {
    top: 18px;
    right: 18px;
    transition: .2s;
}

/*========================================= MENU */
.menu-container {
    display: flex;
    flex-direction: column;
    padding: 50px 10px 10px 30px;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 70vw;
    background-color: var(--light-bg);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 180;
    transition: .3s;
}
.menu-container.hidden {
    right: -100%;
}

.menu-container form {
    margin-bottom: 100px;
}

.menu-bold {
    font-weight: bold;
    font-size: 30px;
}
.menu-bold img {
    height: 35px;
    width: auto;
}
.menu-bold.small {
    font-size: 18px;
}
a.menu-bold {
    font-size: 28px;
    margin-bottom: 35px;
}


.menu-header {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.menu-options {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 7px;
    font-size: 20px;
}
.menu-options label {
    margin-bottom: 10px;
    color: var(--dark-font);
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-container {
    display: grid;
    height: 34px;
    width: auto;
}
.dropdown-icon, .dropdown-checkbox {
    grid-column: 1;
    grid-row: 1;
    height: 34px;
    width: auto;
}
.dropdown-icon.small, .dropdown-checkbox.small {
    height: 18px;
}
.dropdown-icon {
    pointer-events: none;
    filter: invert(1);
    transition: .1s;
}
.dropdown-checkbox {
    opacity: 0;
}
.dropdown-checkbox:hover {
    cursor: pointer;
}
.dropdown-checkbox:checked ~ img {
    transform: rotate(180deg);
    transition: .1s;
}

.dropdown-content {
    transform-origin: top;
    overflow: hidden;
    transition: .2s ease-out;

}
.dropdown-content.hidden {
    /* display: none; */
    transform: scaleY(0);
    height: 0;
}

button.hidden {
    visibility: hidden;
}
#change-settings.hidden {
    visibility: visible !important;
}
#change-settings.hidden i {
    color: var(--dark-font);
}

.filter-container input {
    color: var(--dark-font);
    font-weight: bold;
}
.filter-container i {
    color: var(--dark-font);
}


/*===============================================*/

/*========================================= PRODUCT */
.product-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 300px;
    margin-bottom: 70px;
    background-color: var(--light-bg);
    border-radius: 20px;
    position: relative;
}
.product-description span {
    width: 100%;
    display: flex;
}
.product-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.product-title {
    font-size: 25px;
    font-weight: bold;
    flex-shrink: 2;
}
.product-category {
    font-size: 15px;
    color: var(--dark-font);
}
.product-price {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    margin-left: auto;
    color: var(--dark-font);
    font-style: italic;
    min-width: fit-content;
}
.product-img {
    height: 80vw;
    width: 80vw;

    max-width: 300px;
    max-height: 300px;

    border-radius: 20px;

    object-fit: cover;
    box-shadow: 0px 0px 10px 1px #0E0D11;
    margin-bottom: 5px;
}
/*==================================================*/

.cart-btn {
    background-color: var(--main);
    border: none;
    margin-top: 10px;
    transition: .1s;
    min-width: 70px;
    min-height: 70px;
    border-radius: 70px;
    border: 10px solid var(--dark-bg);
    position: absolute;
    bottom: -35px;
    right: 25px;
}
.cart-btn.display {
    margin-left: auto;
}
.cart-btn:active {
    transform: scale(0.9);
}
.cart-btn img {
    height: 30px;
}

.btn {
    transition: .2s;
    background-color: rgba(0,0,0,0);
    border: none;
}
.btn:hover {
    transition: .2s;
    cursor: pointer;
}

.small-btn {
    background-color: var(--dark-font);
    border: none;
    border-radius: 9999px;
    padding: 10px;
    font-size: 20px !important;
    font-weight: 900 !important;
    color: var(--light-bg);
    transition: .2s;
}
.small-btn i {
    color: var(--light-bg);
}

.big-btn {
    /* height: 50px; */
    padding: 20px 10px 20px 10px;
    width: min(70vw, 300px) !important;
    background-color: var(--main);
    color: #fff;
    border: none;
    font-size: 25px;

    transition: .2s;
}
.big-btn:hover {
    transform: scale(1.01);
    cursor: pointer;

    transition: .1s;
}
.big-btn:active {
    transform: scale(0.95);

    transition: .1s;
}

a.a-btn {
    font-size: 25px;
    font-family: var(--main-font);
}

input[type='submit'].big-btn {
    background-color: var(--main);
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    border-radius: 9999px;
    width: min(70vw, 300px) !important;
}

input[type='submit'].big-btn:hover {
    transform: scale(1.01);
    cursor: pointer;

    transition: .1s;
}
input[type='submit'].big-btn:active {
    transform: scale(0.95);

    transition: .1s;
}

@keyframes cart-press {
    33% {
        background-color: rgb(65, 221, 18);
    }
    66% {
        background-color: rgb(255, 255, 255);
    }
    100% {
        background-color: var(--main);
    }
}