main {
    margin-top: 110px !important;
}

tr.error td {
    padding-left: 90px;
    padding-bottom: 20px;
    text-align: center;
    max-width: 90vw;
    height: 20px;
}

.order-entry-summary {
    width: 70vw;
    padding: 7px;
}

.order-entry {
    background-color: var(--light-bg);
    border-radius: 10px;
    display: flex;    
    margin-bottom: 10px;
    padding: 7px;
    width: calc( 100% - 14px );
}
.order-entry h5 {
    margin-left: 10px;
    font-size: 15px;
}

.order-entry-quantity {
    font-weight: bold;
    color: var(--light-font);
    font-size: 15px;
    margin-right: 5px;
}

.order-entry-price {
    font-weight: bold;
    color: var(--light-font);
    font-size: 15px;
    margin-left: auto;
}

.order-entry-summary {
    display: flex;
    justify-content: flex-end;
}
.order-entry-summary span {
    font-family: var(--num-font);
    font-size: 15px;
    font-weight: 500 !important;
}
.order-entry-summary p {
    font-weight: bold;
}