/* table,tr,td {
    outline: 1px solid red;
} */

.order-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 45px;
}
.order-form-container hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: rgb(209, 209, 209);
}
.order-form-container table {
    font-size: 20px;
}
.order-form-container table p {
    font-weight: bold;
}
.order-form-container td {
    /* padding: 10px 0 10px 0; */
}
.order-form-container table td.label {
    width: 90px;
    padding-right: 10px;
    /*display: flex;
    justify-content: flex-end;*/
    text-align: right;
}
.order-form-container input {
    text-align: left;
}
.order-form-container form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.order-form-container hr {
    width: 100%;
}

p.error {
    color: red;
    font-size: 15px;
    font-style: italic;
}
tr.error td {
    padding-left: 90px;
    padding-bottom: 20px;
    text-align: center;
    max-width: 90vw;
    height: 20px;
}

.order-entry-summary, .order-entry {
    width: 70vw;
    padding: 7px;
}

.order-entry {
    background-color: rgb(240, 240, 240);
    display: flex;    
    margin-bottom: 10px;
}
.order-entry h5 {
    margin-right: 20px;
}

.order-entry-quantity {
    font-family: var(--num-font);
    font-size: 15px;
    margin-right: 5px;
}

.order-entry-price {
    margin-left: auto;
}
.order-entry-price span {
    font-family: var(--num-font);
    font-size: 15px;
}

.order-entry-summary {
    display: flex;
    justify-content: flex-end;
}
.order-entry-summary span {
    font-family: var(--num-font);
    font-size: 15px;
    font-weight: 500 !important;
}
.order-entry-summary p {
    font-weight: bold;
}