.popup.green {
    --bg: #4CCF7A;
}
.popup.red {
    --bg: #CF514C;
}
.popup.blue {
    --bg: #4c7acf;
}
.popup {
    position: fixed;
    top: 20px;
    left: 20px;
    --apprear-time: 0.4s;
    --duration: 1.5s;
    width: min(60vw, 500px);
    padding: 15px;
    border-radius: 15px;
    z-index: 1000;
    background-color: var(--bg);
    overflow: hidden;
    animation: popup-appear var(--apprear-time) ease-out 0s, popup-disappear var(--apprear-time) ease-out calc( var(--apprear-time) + var(--duration) ) forwards;
    word-wrap: normal;
    transition: .2s ease-out;
}
.popup::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--bg);
    filter: brightness(0.5);
    width: 100%;
    height: 3px;
    transform-origin: left;
    animation: popup-timer var(--duration) linear var(--apprear-time) forwards;
}

@keyframes popup-appear {
    from {
        transform: translateX(-200%);
    } 
}

@keyframes popup-disappear {
    to {
        transform: translateX(-200%);
    } 
}

@keyframes popup-timer {
    to {
        transform: scaleX(0);
    }
}