/*table, td, tr {
    outline: 1px red solid;
    border-collapse: collapse;
}*/

tr {
    height: 50px;
}

td input {
    margin-bottom: 10px;
}

a {
    font-size: 25px;
}

.user-settings {
    margin-left: 15px;
    margin-bottom: 20px;
}

.user-settings-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.user-settings-title, .user-settings-field {
    font-size: 20px;
}

.user-settings-field {
    font-weight: normal;
    margin-left: 5px;
}