.user-settings-container form {
    width: var(--mobile-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-setting-container {
    width: 100%;
    display: flex;
}

#change-settings {
    margin-left: 20px;
    background-color: rgba(0,0,0,0);
    border: none;
}
#change-settings img {
    width: 30px;
    height: auto;
}
.user-settings-header {
    display: flex;
}